{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <a href="{% url 'post_list' %}" class="text-decoration-none text-muted mb-3 d-inline-block">
            &larr; Назад к списку
        </a>

        {% if user == post.author %}
            <a href="{% url 'post_delete' post.id %}"> Удалить </a>
            <a href="{% url 'post_update' post.id %}"> Обновить </a>
        {% endif %}

        <article class="article-wrapper">
            <header class="mb-4">
                <h1 class="fw-bold display-5">{{ post.title }}</h1>
                <div class="text-muted small">
                    Опубликовано: {{ post.created_at|date:"d E Y в H:i" }} | 
                    Автор: <span class="text-primary fw-bold">{{ post.author.username }}</span>
                </div>
            </header>

            {% if post.image %}
                <img src="{{ post.image.url }}" class="img-fluid rounded-4 mb-4 w-100" alt="{{ post.title }}">
            {% endif %}

            <div class="post-content">
                {{ post.content|linebreaks }}
            </div>
            
            <div class="mt-5 pt-3 border-top">
                {% for comment in comments %}
                    <p class="text-muted small">{{comment.author}} - {{ comment.content }} </p>
                {% endfor %}
            </div>
        </article>
    </div>
</div>
{% endblock %}
