
<h1> Все посты </h1>
<a href="{% url 'register' %}"> Регистрация </a> |
<a href="{% url 'login' %}"> Вход </a> |
<form action="{% url 'logout' %}" method="post"> 
    {% csrf_token %}
    <button> Выход </button>     
</form>

{% for post in posts %}
    <h2> {{ post.title }} </h2>
    <p> {{ post.author.username }} | {{ post.created_at }} </p>
    {% if post.image %}
        <img src="{{ post.image.url }}">
    {% endif %}
    <p> {{ post.content | truncatewords:20 }} </p>
    <a href=" {% url 'post_detail' post.id %} "> Читать </a>

{% empty %}
<p> Постов нет </p>
{% endfor %}

